body {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    height: 100vh;
    justify-content: center;
    justify-items: start;
    overflow: hidden;
}

.component {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Hanken Grotesk';
    min-width: 325px;
}

.result {
    align-items: center;
    background: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    border-radius: 25px;
    color: hsl(241, 100%, 89%);
    display: flex;
    flex-direction: column;
    min-height: 500px;
    min-width: 325px;
    text-align: center;
    padding: 25px;
    width: 325px;
    z-index: 1;
}

.result h1 {
    color: white;
    font-size: 30px;
    margin: 10px;
}

.result h3 {
    font-size: 16px;
    margin: 4px 45px;
}

.your-score {
    background: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    height: 250px;
    width: 250px;
}

#big-score {
    color: white;
    font-size: 90px;
    font-weight: 800;
}

#max-score {
    color: hsl(241, 100%, 89%);
}

.summary {
    background-color: hsl(0, 0%, 100%);
    border-radius: 25px;
    box-shadow: 1px 25px 55px hsl(241, 100%, 95%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 500px;
    min-width: 325px;
    padding: 25px;
    overflow: hidden;
    width: 325px;
}

.summary ul {
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-evenly;
    margin: 0;
    list-style-position: inside;
    padding: 0;
}

.summary ul li {
    align-items: center;
    border-radius: 10px;
    display: flex;
    height: 40px;
    justify-content: space-between;
    padding: 10px;
}

.summary ul li span {
    display: flex;
    gap: 10px;
}

.score {
    color: hsl(224, 30%, 27%);
    float: right;
}

.score span {
    color: hsl(224, 30%, 27%, 0.7);
}

.reaction {
    background-color: hsl(0, 100%, 67%, 0.1);
    color: hsl(0, 100%, 67%);
}

.memory {
    background-color: hsl(39, 100%, 56%, 0.1);
    color: hsl(39, 100%, 56%);
}

.verbal {
    background-color: hsl(166, 100%, 37%, 0.1);
    color: hsl(166, 100%, 37%);
}

.visual {
    background-color: hsl(234, 85%, 45%, 0.1);
    color: hsl(234, 85%, 45%);
}

button {
    border: none;
    border-radius: 25px;
    background-color: hsl(224, 30%, 27%);
    color: white;
    font-size: 15px;
    font-weight: 700;
    margin-top: 40px;
    padding: 15px;
}

button:hover {
    background: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    cursor: pointer;
}

footer {
    bottom: 10px;
    grid-area: 3 / 2;
    position: absolute;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}